<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Top</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
    <h1>My favorite Pastimes</h1>
    <p>I have suggested a number of entertainments on this site.</p><br>
    <p>you can see:</p>
    <dl>
        <dt>My favorite Books.</dt>
        <dd><a href="{{ url_for('book') }}">My Library</a></dd>
        <dt>My favorite Films.</dt>
        <dd><a href="{{ url_for('film') }}">My Cinema</a></dd>
    </dl>

</body>
</html>